<p>
  
  <h5><%= comment.commenter %> said:</h5>   <%=  %>
 
</p>
 
<p>
  <strong></strong>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>