<div class="container">
  <%= image_tag("logo.png") %>

<hr>

  <h1>Listing Articles</h1>
  <div class="container">
    <div class="row">
      
        <% @articles.each_with_index do |article, i| %>
          
         <div class="col-3">
          <%= render partial: 'partials/article', locals: {article: article} %>
        </div>
        <% if (i+1)  % 3 == 0 %>
          <% if i == 2 %>
              <div class="col-3 ">
                <h3>Follow Blog via Email and receive notifications from new posts</h3>
              </div>
          <% else %>
                        <div class="col-3 ">
               
              </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<hr>

