<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%=redirect_to index_path %>
    <%=flash[:notice] = "Subscribed!" %>
</div>