body {
    background-color:darken($color: rgb(71, 2, 71), $amount: 0);
}

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
}

th {
    font-family: "Arial Black", Gadget, sans-serif;
}

td {
    font-family: "Arial"; 
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 3px solid black;
}

.container {
    background-color: white;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 20px;
    grid-row-gap: 100px;
}

.my-pic {
    height: auto;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}
.my-pic-larger {
    height: auto;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.center-div {
    display: flex;
    justify-content: center;
    width: auto;
}
hr {
    display: block;
    border-style: inset;
    border-width: 2px;
}
