body {
    margin: 42px;
}

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
}

th {
    font-family: "Arial Black", Gadget, sans-serif;
}

td {
    font-family: "Arial"; 
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 3px solid black;
}

.container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.my-pic {
    height: auto;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.center-div {
    display: flex;
    justify-content: center;
}